name: projo

services:
  projo-api-test:
    build:
      context: ..
      dockerfile: infra/Dockerfile.host
      target: api-runtime
      args:
        VITE_API_URL: /api
        VITE_AUTH_MODE: sso
        VITE_AUTH_BASE_URL: https://test.auth.gismalink.art
    image: projo-api:test
    container_name: projo-api-test
    restart: unless-stopped
    env_file:
      - ../apps/api/.env.test
    depends_on:
      - projo-db-test
    networks:
      - public
      - edge_public
      - data_test

  projo-web-test:
    build:
      context: ..
      dockerfile: infra/Dockerfile.host
      target: web-runtime
      args:
        VITE_API_URL: /api
        VITE_AUTH_MODE: sso
        VITE_AUTH_BASE_URL: https://test.auth.gismalink.art
    image: projo-web:test
    container_name: projo-web-test
    restart: unless-stopped
    env_file:
      - ../apps/web/.env.test
    networks:
      - public
      - edge_public

  projo-db-test:
    image: postgres:16
    container_name: projo-db-test
    restart: unless-stopped
    environment:
      POSTGRES_DB: projo_test
      POSTGRES_USER: projo_test
      POSTGRES_PASSWORD: projo_test
    networks:
      - data_test
    volumes:
      - postgres_test_data:/var/lib/postgresql/data

  projo-api-prod:
    build:
      context: ..
      dockerfile: infra/Dockerfile.host
      target: api-runtime
      args:
        VITE_API_URL: /api
        VITE_AUTH_MODE: sso
        VITE_AUTH_BASE_URL: https://auth.gismalink.art
    image: projo-api:prod
    container_name: projo-api-prod
    restart: unless-stopped
    env_file:
      - ../apps/api/.env.prod
    depends_on:
      - projo-db-prod
    networks:
      - public
      - edge_public
      - data_prod

  projo-web-prod:
    build:
      context: ..
      dockerfile: infra/Dockerfile.host
      target: web-runtime
      args:
        VITE_API_URL: /api
        VITE_AUTH_MODE: sso
        VITE_AUTH_BASE_URL: https://auth.gismalink.art
    image: projo-web:prod
    container_name: projo-web-prod
    restart: unless-stopped
    env_file:
      - ../apps/web/.env.prod
    networks:
      - public
      - edge_public

  projo-db-prod:
    image: postgres:16
    container_name: projo-db-prod
    restart: unless-stopped
    environment:
      POSTGRES_DB: projo_prod
      POSTGRES_USER: projo_prod
      POSTGRES_PASSWORD: projo_prod
    networks:
      - data_prod
    volumes:
      - postgres_prod_data:/var/lib/postgresql/data

networks:
  public:
  edge_public:
    external: true
  data_test:
  data_prod:

volumes:
  postgres_test_data:
    external: true
    name: infra_postgres_test_data
  postgres_prod_data:
    external: true
    name: infra_postgres_prod_data
